/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"), url("../fonts/livvic-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-500 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/livvic-v13-latin-500.woff2") format("woff2"), url("../fonts/livvic-v13-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), url("../fonts/livvic-v13-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), url("../fonts/livvic-v13-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Livvic", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #014E56;
  padding: 73px 163px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 40px;
}

.menu__item {
  margin-left: 40px;
}

.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  text-decoration: none;
  color: #FFFFFF;
}

.menu__link:hover {
  color: #F67E7E;
}

.contactus {
  width: 100%;
  max-width: 153px;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 10px;
}

.contactus:hover {
  background-color: #fff;
  color: #014E56;
}

@media only screen and (max-width: 576px) and (min-width: 375px) {
  .site-header {
    background-color: #014E56;
    padding: 48px 24px;
  }

  .header-inner {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100%;
    max-width: 127px;
    max-height: 32px;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: auto;
  }

  .menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0px;
  }

  .menu {
    display: none;
  }

  .menu__item {
    margin-left: 0px;
  }

  .menu__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-decoration: none;
    color: #FFFFFF;
  }

  .menu__link:hover {
    color: #F67E7E;
  }

  .contactus {
    display: none;
    width: 153px;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px;
  }

  .contactus:hover {
    background-color: #fff;
    color: #014E56;
  }
}

.hero {
  padding: 56px 165px 250px 165px;
  background-color: #014E56;
  background-image: url("/images/hero-bg.svg"), url("/images/herobg-2.svg");
  background-repeat: no-repeat;
  background-size: 358px 200px, 100px 200px;
  background-position: calc(50% + 350px) calc(50% + 220px), calc(50% - 720px) calc(50% - 100px);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__left {
  width: 635px;
}

.content__left__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #FFFFFF;
}

.redspan {
  color: #F67E7E;
}

.content__right {
  width: 445px;
}

.content__right__line {
  display: block;
  width: 50px;
  height: 4px;
  background: #79C8C7;
  margin-bottom: 79px;
}

.content__right__text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
}

@media only screen and (max-width: 576px) and (min-width: 375px) {
  .hero {
    padding: 50px 24px 197px 24px;
    background-color: #014E56;
    background-image: url("/images/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: 358px 200px, 100px 200px;
    background-position: 50% calc(50% + 170px);
  }

  .content {
    flex-direction: column;
  }

  .content__left {
    width: 327px;
  }

  .content__left__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 18px;
  }

  .redspan {
    color: #F67E7E;
  }

  .content__right {
    width: 327px;
  }

  .content__right__line {
    display: none;
    width: 50px;
    height: 4px;
    background: #79C8C7;
    margin-bottom: 79px;
  }

  .content__right__text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 156%;
    color: #FFFFFF;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */



/* ____________________________________SERVICE-SECTION_____________________________________________ */


.service {
  background-color: #012F34;
  padding: 140px 165px;
  background-image: url("../images/servicebg.svg");
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: calc(50% + 720px) calc(50% + 220px);
}

.service__line {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 54px;
}

.service__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.service__box {
  width: 100%;
  max-width: 445px;
}

.service__box__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin: 0;
  padding: 0;


  color: #FFFFFF;
}

.service__list {

  width: 100%;
  max-width: 445px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.service__item {
  position: relative;
  margin: 0;
  padding: 0;
}

.service__item::before {
  width: 72px;
  height: 72px;
  top: 5px;
  left: -95px;
  position: absolute;
  content: "";
  background-image: url("../images/manage-first.svg");
  background-repeat: no-repeat;
  background-size: 72px 72px;

}

.service__item:nth-child(2):before {

  background-image: url("../images/manage-second.svg");


}

.service__item:nth-child(3):before {

  background-image: url("../images/manage-thirt.svg");


}

.service__item+.service__item {
  margin-top: 32px;
}

.service__item__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  /* identical to box height, or 156% */


  color: #F67E7E;

}

.service__item__text {

  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  margin: 0;
  padding: 0;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 16px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  _ __ _ _ SERIVE-SECTION-RESPONSIVE _  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ */


@media only screen and (max-width: 576px) and (min-width: 375px) {

  .service {
    background-color: #012F34;
    padding: 64px 4px;
    background-image: url("../images/servicebg.svg");
    background-repeat: no-repeat;
    background-size: 100px 244px;
    background-position: right top;
  }

  .service__line {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    margin-bottom: 32px;
  }

  .service__content {
    display: flex;
    align-items: center;
    flex-direction: column;


  }

  .service__box {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 220px;
    margin-bottom: 144px;
    margin-right: auto;
  }

  .service__box__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    margin: 0;
    padding: 0;


    color: #FFFFFF;
  }

  .service__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 445px;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

  .service__item {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .service__item::before {
    width: 72px;
    height: 72px;
    top: -80px;
    left: 40%;
    right: 40%;
    position: absolute;
    content: "";
    background-image: url("../images/manage-first.svg");
    background-repeat: no-repeat;
    background-size: 72px 72px;

  }

  .service__item+.service__item {
    margin-top: 136px;
  }

  .service__item__title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    /* identical to box height, or 156% */


    color: #F67E7E;

  }

}


/* ____________________________________-SECTION_____________________________________________ */
.feedback {
  background-color: #004047;
  padding: 140px 165px;
  background-image: url("../images/feedbackbg.svg") , url("../images/feedbackbg2.png");
  background-repeat: no-repeat;
  background-size: 147px 100px , 200px 100px;
  background-position: calc(50% - 700px) calc(50% - 350px) , calc(50% + 667px) calc(50% + 350px);
}

.feedback__title {
  width: 100%;
  max-width: 932px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */

  text-align: center;

  color: #FFFFFF;
}

 .feedback__span{
    color: #79C8C7;
  }
  


.feedback__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.feedback__item {
  position: relative;
  width: 350px;
  margin: 0;
  padding: 0;
  padding-top: 58px;
  background-image: url("../images/quoteicon.svg");
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: calc(50%) calc(50% - 136px);
}

/* .feedback__item::before{
  position: absolute;
  display: block;
  width: 67px;
  height: 56px;
  top: -36px;
  right: 40%;
  left: 40%;
  background-image: url("../images/quoteicon.svg");
  background-repeat: no-repeat;
  background-size: 67px 56px;

  content: "";
} */

.quotes {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  /* or 167% */

  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #FFFFFF;
}

.quotes__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  /* identical to box height, or 156% */

  text-align: center;

  color: #79C8C7;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.quotes__job {
  display: block;
  font-size: 13px;
  line-height: 138%;
  /* identical to box height, or 138% */

  text-align: center;

  color: #FFFFFF;
  margin-bottom: 32px;
}

.quotes__img {
  display: block;
  margin: 0 auto;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ FEEDBACK-SECTION-RESPONSIVE_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */


@media only screen and (max-width: 576px) and (min-width: 375px){
  .feedback {
    background-color: #004047;
    padding: 140px 4px;
    background-image: url("../images/feedbackbg.svg") , url("../images/feedbackbg2.png");
    background-repeat: no-repeat;
    background-size: 147px 100px , 200px 100px;
    background-position: left top , right bottom;
  }
  
  .feedback__title {
    width: 327px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* or 100% */
  
    text-align: center;
  
    color: #FFFFFF;
  }
  .feedback__span{
    color: #79C8C7;
  }
  
  .feedback__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: column;
  }
  
  .feedback__item {
    position: relative;
    width: 350px;
    margin: 0;
    padding: 0;
    padding-top: 58px;
    background-image: url("../images/quoteicon.svg");
    background-repeat: no-repeat;
    background-size: 67px 56px;
    background-position: calc(50%) calc(50% - 136px);
    margin-bottom: 34px;
  }
  
  /* .feedback__item::before{
    position: absolute;
    display: block;
    width: 67px;
    height: 56px;
    top: -36px;
    right: 40%;
    left: 40%;
    background-image: url("../images/quoteicon.svg");
    background-repeat: no-repeat;
    background-size: 67px 56px;
  
    content: "";
  } */
  
  .quotes {
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    /* or 167% */
  
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    color: #FFFFFF;
  }
  
  .quotes__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    /* identical to box height, or 156% */
  
    text-align: center;
  
    color: #79C8C7;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
  }
  
  .quotes__job {
    display: block;
    font-size: 13px;
    line-height: 138%;
    /* identical to box height, or 138% */
  
    text-align: center;
  
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  
  .quotes__img {
    display: block;
    margin: 0 auto;
  }
  

}