.site-header {
    background-color: #014E56;
    padding: 73px 163px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
    max-width: 127px;
    max-height: 32px;
}

.burger{
    display: none;
}

.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 40px;

}

.menu__item {
    margin-left: 0px;
}

.menu__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-decoration: none;
    color: #FFFFFF;
}
.menu__link:hover{
    color:#F67E7E ;
}

.contactus {
    width: 100%;
    max-width: 153px;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px;

}

.contactus:hover{
    background-color: #fff;
    color: #014E56;
}

@media only screen and (max-width: 750px) and (min-width:375px){
    .site-header {
        background-color: #014E56;
        padding: 48px 24px;
    }
    
    .header-inner {
        display: flex;
        align-items: center;
    }
    .burger{
        display: block;
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin-left: auto;
    }
    
    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-left: 0px;
    
    }
    .menu  {
        display: none;
    }

    .menu__item {
        margin-left: 0px;
    }
    
    .menu__link {
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        text-decoration: none;
        color: #FFFFFF;
    }
    .menu__link:hover{
        color:#F67E7E ;
    }
    
    .contactus {
        display: none;
        width: 153px;
        margin-left: auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        padding: 10px;
    
    }
    
    .contactus:hover{
        background-color: #fff;
        color: #014E56;
    }

}